# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter checkpoints
.ipynb_checkpoints/

# Virtual environments
venv/
env/
.venv/

# macOS
.DS_Store

# VSCode
.vscode/

# Python distribution/build
build/
dist/
*.egg-info/

# Logs
*.log
