# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter checkpoints
.ipynb_checkpoints/

# Virtual environments
venv/
env/
.venv/

# macOS
.DS_Store

# VSCode
.vscode/

# Python distribution/build
build/
dist/
*.egg-info/

# Logs
*.log

# Ignore trained model file
digit_recognizer_model.h5

# Optional models directory
models/
